.details-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.review-details {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }

  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .review-details {
    max-width: 75%;
  }
}
